<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>
        Inicio
    </h1>

     <form action="/task/add" method="post" >
        <div> 
           
        <label for="title">Elemento</label>
        <input type="text" name="title" placeholder="¿Que va a prestar?" id="title">
        </div>

        <div>
        <label for="description">description</label>
        <textarea name="description" placeholder="description" id="description" cols="30" rows="10"></textarea>
        </div>    

        <div>
        <label for="code">Codigo o Cédula</label>
        <input type="text" name="code" placeholder="Codigo o Cédula" id="code">
        </div>

        <div> 
        <label for="lugar">lugar</label>
        <input type="text" name="lugar" placeholder="lugar de uso" id="lugar">
        </div>

        <div> 
        <label for="lugar">Tel</label>
        <input type="text" name="tel" placeholder="numero de contacto" id="tel">
        </div>

        <div> 
        <label for="fecha">Fecha</label>
        <input type="text" name="fecha" placeholder="fecha" id="fecha">
        </div>

        <div> 
        <label for="hora">Hora</label>
        <input type="text" name="hora" placeholder="hora" id="lugar">
        </div>


        <button type="submit">Add</button>
     </form>

</body>
</html>